:root{
    --primary-colour: #11121a;
    --hover-colour: #272832;
    --text-colour: #c9c9c9;
}

body{
    background-color: var(--primary-colour);
}

h1{
    font-size: 35px;
}

p, .pdf p{
    color: var(--text-colour);
    font-size: 20px;
}

.glass-box{
    margin-top: 45px;    
    margin-bottom: 20px;
}

.pdf{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.pdf p{
    text-align: center;
}

embed{
    width: 80%;
    height: 100vh;
    margin-bottom: 20px;
}

ul{
    list-style: none;
}

a{
    margin-right: 20px;
    margin-left: 20px;
}

.view_btn{
    display: none;
}