@media (max-width: 760px){
    #open-sidebar-button{
        display: block;
    }
    #close-sidebar-button{
        display: block;
    }
    nav{
        position: fixed;
        top: 0;
        right: -100%;
        height: 100vh;
        width: min(15em, 100%);
        z-index: 10;
        border-left: 1px solid var(--hover-colour);
        transition: right 300ms ease-out;
    }
    nav.show{
        right: 0;
      }
    nav.show ~ #overlay{
        display: block;
    }
    nav ul{
        width: 100%;
        flex-direction: column;
    }
    nav a{
        width: 100%;
        padding-left: 2.5em;
    }
    nav a.active-link{
        border-bottom: none;
    }
    nav .home-li{
        margin-right: unset;
    }
    .nav{
        z-index: 2;
        overflow: hidden;
        border-bottom: 1px solid var(--hover-colour);
    }
    .heading{
        margin-top: 200px;
        margin-bottom: 200px;
    }
    input, textarea{
        width: 100%;
    }
    .btn{
        width: 80%;
    }
}

@media (max-width: 550px){
    .heading{
        margin-top: 150px;
        margin-bottom: 150px;
    }
    
    p, a{
        font-size: 20px;
    }
    input, textarea{
        width: 150%;
    }
    .btn{
        width: 120%;
    }
}

@media (max-width: 410px){
    p, a{
        font-size: 20px;
    }
    input, textarea{
        width: 170px;
    }
    .btn{
        width: 150px;
    }
    .footer_p{
        font-size: 17px;
    }
}

@media (max-width: 360px){
    .footer_p{
        font-size: 13px;
    }
}